/*Main*/
html {
  background-image: url("../images/stars.png");
  margin: 0;
  overflow: hidden;
  -webkit-animation:100s scroll infinite linear;
  -moz-animation:100s scroll infinite linear;
  -o-animation:100s scroll infinite linear;
  -ms-animation:100s scroll infinite linear;
  animation:100s scroll infinite linear;
}

@-webkit-keyframes scroll{
  100%{
    background-position:0px 3000px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position:0px 3000px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position:0px 3000px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position:0px 3000px;
  }
}

@keyframes scroll{
  100%{
    background-position:0px 3000px;
  }
}


body {
  margin: 0;
}

#canvas {
  z-index: 100;
}

#outside {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

/*Splash Page*/
#title {

}

#press-enter {
  display: block;
  margin: 0 auto;
  margin-top: 300px;
  width: 50%;
  animation-duration: 3.2s;
  animation-name: fade;
}

@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}



/*About Me*/
#about-me {
  font-family: Georgia;
  position: absolute;
  bottom: 10px;
  color: white;
  width: 20%;
}

#about-me ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

#about-me a {
  color: white;
  text-decoration: none;
}
